<div class="wrapper">
  <form (ngSubmit)="Submit()" [formGroup]="jobApplicationForm">
    <mat-card>
      <mat-card-title>Job Application</mat-card-title>
      <mat-card-content>
        <div class="row g-3">
          <div class="col-md-12 row">
            <div class="col-md-5">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="First Name"
                  required
                  formControlName="firstName"
                />
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="firstName?.hasError('required')">
                  First name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Last Name"
                  required
                  formControlName="lastName"
                />
                <mat-error *ngIf="lastName?.hasError('required')">
                  Last name is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-5">
              <mat-form-field class="form-element">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  required
                  placeholder="pat@example.com"
                  formControlName="email"
                />
                <mat-icon matSuffix> email</mat-icon>
                <mat-error
                  *ngIf="
                    email?.hasError('email') && !email?.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="form-element">
                <input
                  type="number"
                  matInput
                  placeholder="Contact Number"
                  required
                  formControlName="contact"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error
                  *ngIf="
                    contact?.hasError('pattern') &&
                    !contact?.hasError('required')
                  "
                >
                  Invalid Contact value
                </mat-error>
                <mat-error *ngIf="contact?.hasError('required')">
                  Contact is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-9">
              <mat-form-field class="form-element">
                <input
                  matInput
                  placeholder="Company"
                  required
                  formControlName="company"
                />
                <mat-icon matSuffix>account_balance</mat-icon>
                <mat-error *ngIf="company?.hasError('required')">
                  Company is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-5">
              <mat-form-field class="form-element">
                <mat-label>Interested In</mat-label>
                <mat-select formControlName="interestedJobs" multiple>
                  <mat-option *ngFor="let item of jobs" [value]="item?.id">{{
                    item?.id + " : " + item?.title
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="form-element">
                <input
                  type="number"
                  matInput
                  placeholder="Current CTC"
                  required
                  formControlName="currentCtc"
                />
                <mat-icon matSuffix> attach_money</mat-icon>
                <mat-error
                  *ngIf="
                    currentCtc?.hasError('max') &&
                    !currentCtc?.hasError('required')
                  "
                >
                  Invalid CTC value
                </mat-error>
                <mat-error *ngIf="currentCtc?.hasError('required')">
                  Current CTC is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12">
            <mat-form-field class="form-element">
              <mat-label>Technologies</mat-label>
              <mat-chip-list #chipList aria-label="technology selection">
                <mat-chip
                  *ngFor="let technology of selectedTechnology"
                  (removed)="remove(technology)"
                >
                  {{ technology }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="If your technology is not present please type it and press comma to add new entry"
                  #technologyInput
                  formControlName="technologies"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-list>
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let technology of filteredTechnologies | async"
                  [value]="technology"
                >
                  {{ technology }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="technologies?.hasError('required')">
                Please add your interested technology
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <label for="formFile" class="form-label">Upload Resume</label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              (change)="handleFileInput($event)"
              #fileInput
            />
            <div class="file file-success" *ngIf="fileName?.getRawValue()">
              File uploaded successfully
            </div>
            <div class="file file-progress" *ngIf="showFileUploadState">
              File being uploaded
            </div>
            <input type="hidden" formControlName="fileName" />
            <mat-error *ngIf="showFileUploadError">
              Resume is required
            </mat-error>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>About Project</mat-label>
              <textarea
                matInput
                placeholder="Tell us about your projects"
                required
                formControlName="aboutProject"
              ></textarea>
              <mat-error *ngIf="aboutProject?.hasError('required')">
                Project details is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 action-buttons">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!validateForm() || showFormLoadState"
            >
              <mat-icon>save</mat-icon>
              Save
            </button>
            <button mat-raised-button type="reset">
              <mat-icon>cancel</mat-icon>
              Cancel
            </button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="showFormLoadState">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </form>

  <mat-card>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="first">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.first }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="last">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.last }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card>
</div>
